.card{
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    width: 350px;
    height: 503px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 black;
    
}

.contenido {
    padding: 2px 16px;
  }

img { height: 51%;
}
  
h1, h3 { 
  font-family: 'Montserrat', sans-serif;
  
}

h3
    {color: #e74c3c;
        font-size: 15px;
}
    

p {
    margin: 4px;
    
    color: rgb(93, 92, 92);
}

.comments {
        
            position: relative;    
}

.fa {
    position: relative;
    padding: 11px;
    left: 0px;
    top: 1px;
}

.iblock {

    display: inline-block;
    width: 39%;
}

.border-radius {
    
    position: absolute;
    left: 263px;
    bottom: 565px;
    border-radius: 50%;
    width: 80px;
    height: 73px;
    background-color: #e74c3c;
    text-align: center;
    line-height: 73px;
    font-size: 20px;
    color: white;
 }
